@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 17, 17);
}


/* --------------  Common style start -----------------------*/

.body-container {
    max-width: 1400px;
    margin: 0 auto;
}

.header-container {
    width: 95%;
    margin: 0 auto;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 42px;
    padding: 0.8rem 1.8rem;
    background: rgb(230, 83, 60);
    border: none;
}

.btn-secondary {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 42px;
    padding: 0.8rem 1.8rem;
    margin-left: 1rem;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;

}


/* ///////////////  Common style ended //////////////////////*/


/* ------------  navbar style start here  --------------------*/

.header-container {
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.logo-title {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 800;
    line-height: 120%;
}

.nav-bar {
    margin: 2.8rem 0;
}

.main-manu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    display: flex;
    gap: 2rem;
    border: 0.001rem outset rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.nav-item a:hover {
    border-radius: 2rem;
    background: rgb(230, 83, 60);
    padding: 0.4rem 1rem;
    transform: scale(0.2);
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 400;

}

.bars-icon {
    display: none;
}


/* -/////////////  navbar style ended here  //////////////////-*/

/* ------- header hero banner section style start here ------------*/

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.hero-info {
    width: 50%;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 5rem;
    font-weight: 900;
}

#hero-shape {
    font-family: Dancing Script;
    font-size: 6rem;
}

.hero-info p {
    margin: 1.6rem 0;

}

.costomer-info-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    border-radius: 0.8rem;
    width: 8rem;
    height: 5rem;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin-left: 80%;
    margin-top: 10rem;

}

.costomer-info-botom {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    border-radius: 0.8rem;
    width: 8rem;
    height: 5rem;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin-left: 35%;
    margin-top: 10rem;
}

.circel {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background: rgb(230, 83, 60);
}

.free-video-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.8rem;
    box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;

}

.hero-image {
    background-image: url(../images/Images\ 2.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 580px;
    width: 50%;
    background-position: bottom right;

}


/* ////////// header hero banner section style ended /////////////*/

/* --- Change Your Habits section style here -------- */

.habits-info {
    text-align: center;
    margin: 5rem 0 3rem 0;
}

.habits-info h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: .8rem;
}

.habits-info p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.profile-info{
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
}

.profile {
    text-align: center;
    margin-top: 3rem;
}

.profile img {
    border-radius: 50%;
}

.profile h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 120%;
    margin: 2.4rem 0 .3rem 0;
}

.profile p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
}


/* //////// Change Your Habits section style here  /////////// */


/* ------ Responsive Area style here start ------------*/


/* ------ Mobile responsive style here start .......... */

@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }

    .bars-icon {
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    /*------ hero banner ----*/

    .header-container {
        height: 1010px;
    }

    .hero-banner {
        flex-direction: column;
    }

    .hero-info h1 {
        font-size: 2.2rem;
    }

    .hero-info {
        width: 100%;
    }

    .hero-image {
        width: 100%;
    }

    .btn-primary,
    .btn-secondary {
        font-size: 1rem;
    }

    .btn-secondary {
        margin-left: 2px;
    }

    .costomer-info-top {
        margin-left: 60%;
    }

    .costomer-info-botom {
        margin-left: 10%;
    }

    /* ---- Change Your Habits -----*/

    .change-your-habit{
        margin-top: 8rem;
    }

    .habits-info h2{
        font-size: 2rem;
    }

    .profile-info{
        flex-direction: column;
    }

    .profile p{
        padding: 0 6.2rem;
    }

    .habits-info br{
        display: none;
    }
}